<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/Content/Images/Icono/favicon.png">

    @if (Context.IsDebuggingEnabled)
    {
        <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="~/Content/styleTemplate.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/site.css" rel="stylesheet" type="text/css" />
    }
    else
    {
        <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/styleTemplate.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/site.css" rel="stylesheet" type="text/css" />
        //@Styles.Render("~/Content/css")
    }

    @Scripts.Render("~/bundles/modernizr")

    <link href="//fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600" rel="stylesheet">
</head>
<body>    
    <div class="banner-w@(ViewBag.CarouselShow == true ? "3" : "2")">
        <div class="w3-agile-logo">
            <div class=" head-wl">
                <div class="agileinfo-social-grids">
                    <ul>
                        <li><a href=""><span class="fa fa-facebook"></span></a></li>
                        <li><a href=""><span class="fa fa-twitter"></span></a></li>
                        <li><a href=""><span class="fa fa-youtube"></span></a></li>
                        <li><a href=""><span class="fa fa-instagram"></span></a></li>
                    </ul>
                </div>
                <div class="w3-header-top-right">
                    <div class="w3-header-top-right-text">
                        <p><span class="fa fa-phone" aria-hidden="true"></span> (111)+245 245 66</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="header-w3layouts">
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1><a class="navbar-brand" href="@Url.Action("Index", "Home")"><img class="navbar-image" src="~/Content/Images/Icono/favicon.png" />Cl&iacute;nica Alejandr&iacute;a</a></h1>
                    <span class="cap">Embarazos de Alto Riesgo</span>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden"><a class="page-scroll" href=""></a> </li>
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li>@Html.ActionLink("Nuestra Clínica", "About", "Home")</li>
                        <li><a class="page-scroll scroll" href="">Servicios M&eacute;dicos</a></li>
                        <li><a class="page-scroll scroll" href="">Turnos</a></li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>

        @if (ViewBag.CarouselShow == true)
        {
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                    <li data-target="#myCarousel" data-slide-to="3" class=""></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="banner-dott">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h3>We provide best medical services</h3>
                                    <div class="contrast">
                                        <p> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item item1">
                        <div class="banner-dott">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h3>We provide best dental services</h3>
                                    <div class="contrast">
                                        <p> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item item2">
                        <div class="banner-dott">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h3>Instalaciones de <span class="h3-bicolor">&Uacute;ltima Generaci&oacute;n</span></h3>
                                    <div class="contrast">
                                        <p>Nuestros equipos de &uacute;ltima generaci&oacute;n permiten ofrecerte una mejor atenci&oacute;n personalizada y brindarte comodidad en tu estad&iacute;a.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item item3">
                        <div class="banner-dott">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h3>Equipo de <span class="h3-bicolor">Expertos</span></h3>
                                    <div class="contrast">
                                        <p>Nuestro equipo de especialistas te aseguran la mejor atenci&oacute;n y tratamiento.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div> 
        }
        <div class="clearfix"> </div>
    </div>

    <div>
        @RenderBody()
    </div>

    <div class="footer">
        <nav>
            <ul class="nav-buttom">
                <li>>@Html.ActionLink("Inicio", "Index", "Home")</li>
                <li>>@Html.ActionLink("Nuestra Clínica", "About", "Home")</li>
                <li><a class="page-scroll scroll" href="">Servicios M&eacute;dicos</a></li>
                <li><a class="page-scroll scroll" href="">Turnos</a></li>
                <li>>@Html.ActionLink("Contacto", "Contact", "Home")</li>
            </ul>
        </nav>
        <div class="container">
            <div class="colr-row col-md-6">

                <div class="col-md-6 col-sm-6 col-xs-6  bottom-head bottm-grid">
                    <h2><a href="@Url.Action("Index", "Home")">Cl&iacute;nica Alejandr&iacute;a</a></h2>
                    <span class="cap">Embarazos de Alto Riesgo</span>
                    <div class="clearfix"> </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6 copyright bottm-grid">
                    <h3>S&iacute;guenos</h3>
                    <div class="icons">
                        <ul>
                            <li><a href=""><span class="fa fa-facebook"></span></a></li>
                            <li><a href=""><span class="fa fa-twitter"></span></a></li>
                            <li><a href=""><span class="fa fa-youtube"></span></a></li>
                            <li><a href=""><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>

                <div class="clearfix"> </div>
            </div>
            <div class="colr-row  col-md-6">

                <div class="col-md-6 col-sm-6 col-xs-6 one bottm-grid">
                    <h3>Nuestra Clínica</h3>
                    <p>Nuestro objetivo es claro: una mam&aacute; sana, con un beb&eacute; sano en sus brazos</p>
                    <div class="clearfix"></div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6 three bottm-grid">
                    <h3>Contacto</h3>
                    <div class="addres up-out">
                        <p><span class="fa fa-map-marker icons-left" aria-hidden="true"></span>B. de Irigoyen 696, Boulogne, Buenos Aires</p>
                        <p><span class="fa fa-phone icons-left" aria-hidden="true"></span>4737-5314 / 4737-7555</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year Cl&iacute;nica Alejandr&iacute;a - Embarazos de Alto Riesgo.  | Design by <a href="#">MCGA.SpadoniJuanIgnacio</a></p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
